<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="home.mockaraokev2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoapp2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Actitivy.Act_Login"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actitivy.Act_MainAudio"
            android:label="Tạo Video"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actitivy.Act_Search"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_Favorite"
            android:label="Bài hát yêu thích"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_MyRecord"
            android:label="Ghi âm"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_Singer"
            android:label="Ca sĩ"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Actitivy.Act_MyVideo"
            android:label="Video"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Actitivy.Act_Support"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_InfoApp"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_PlayRecord"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_Playlist_Show"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_PlayVideo"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Actitivy.Act_XemVideoRecord"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".Service.ServiceGhepAnh"
            android:enabled="true"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name=".Service.ServiceCreateVideoFromImage"
            android:enabled="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Actitivy.Act_CreateVideoFromAudio"
            android:label="Tạo video"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider126945264629111"
            android:exported="true" />

        <activity android:name="com.facebook.FacebookActivity" />
        <activity android:name=".Actitivy.Test"></activity>
    </application>

</manifest>